Magic 271485
Revision Verdi3_L-2016.06-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 1703 563 283 134

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/wjfan/syntacore/scr1_idtcm_2s/fsdb/itcm_test_tcm.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 1513.522880 1653.528761 1n
cursor 1565.000000
marker 1595.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 3
; marker line index
markerPos 99

; logical expression list
; addExprSig expr_name expression_string
activeDirFile "" "/home/wjfan/syntacore/scr1_idtcm_2s/fsdb/itcm_test_tcm.fsdb"

addExprSig -b 1 -n U logical_expression_9 "/scr1_top_tb_ahb/i_top/i_core_top/i_pipe_top/curr_pc[31:0]" === 'h481\
8f0

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_8 "/scr1_top_tb_ahb/i_top/i_tcm/dmem_rdata[31:0]" === 'd8280

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_5 "/scr1_top_tb_ahb/i_top/i_tcm/imem_addr[31:0]" === 'h482000

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_4 "/scr1_top_tb_ahb/i_top/i_core_top/i_pipe_top/i_pipe_idu/rvi_opcode[6:\
2]"==='b01000

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_3 "/scr1_top_tb_ahb/i_top/i_tcm/imem_rdata[31:0]" === 'h378

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_1 "/scr1_top_tb_ahb/i_top/i_tcm/scr1_dtcm/i_sp_memory/addra[15:2]" === '\
h3f95

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_11 ("/scr1_top_tb_ahb/i_top/i_tcm/dmem_addr[31:8]" == 'h4900)  === 'b1

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_17 ("/scr1_top_tb_ahb/i_top/i_tcm/dmem_addr[31:8]" == 'h4820)  === 'b1

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 1 -n U logical_expression_18 ("/scr1_top_tb_ahb/i_top/i_tcm/imem_addr[31:8]" == 'h4820)  === 'b1

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "PC"
activeDirFile "" "/home/wjfan/syntacore/scr1_idtcm_2s/fsdb/itcm_test_tcm.fsdb"
addSignal -h 15 /logical_expression_9
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_core_top/i_pipe_top/curr_pc[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope next_pc[31:0]
addSignal -h 15 -holdScope new_pc_req
addSignal -h 15 -UNSIGNED -HEX -holdScope new_pc[31:0]
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_core_top/i_pipe_top/i_pipe_idu/ifu2idu_instr[31:0]
addSignal -h 15 -UNSIGNED -holdScope rvi_opcode[6:2]
addSignal -h 15 -UNSIGNED -HEX -holdScope funct3[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope funct7[6:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope funct12[11:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope shamt[4:0]
addSignal -h 15 /logical_expression_4
addGroup "G2" -e FALSE
addSignal -h 15 /scr1_top_tb_ahb/i_top/i_tcm/imem_req_ack
addSignal -h 15 -holdScope imem_req
addSignal -h 15 -holdScope imem_cmd
addSignal -h 15 -UNSIGNED -HEX -holdScope imem_addr[31:0]
addSignal -h 15 /logical_expression_5
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_tcm/imem_rdata[31:0]
addSignal -h 15 -UNSIGNED -holdScope imem_resp[1:0]
addSignal -h 15 /logical_expression_3
addGroup "TCM_TOP" -e FALSE
addSignal -h 15 /scr1_top_tb_ahb/i_top/i_tcm/imem_req_ack
addSignal -h 15 -holdScope imem_req
addSignal -h 15 -holdScope imem_cmd
addSignal -h 15 -UNSIGNED -HEX -holdScope imem_addr[31:0]
addSignal -h 15 /logical_expression_18
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_tcm/imem_rdata[31:0]
addSignal -h 15 -UNSIGNED -holdScope imem_resp[1:0]
addSignal -h 15 -holdScope dmem_req_ack
addSignal -h 15 -holdScope dmem_req
addSignal -h 15 -holdScope dmem_cmd
addSignal -h 15 -UNSIGNED -holdScope dmem_width[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_addr[31:0]
addSignal -h 15 /logical_expression_11
addSignal -h 15 -holdScope logical_expression_8
addSignal -h 15 -holdScope logical_expression_17
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_tcm/dmem_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_rdata[31:0]
addSignal -h 15 -UNSIGNED -holdScope dmem_resp[1:0]
addGroup "ITCM_INTERFACE" -e FALSE
addSignal -h 15 /scr1_top_tb_ahb/i_top/i_tcm/scr1_itcm/imem_req_ack
addSignal -h 15 -holdScope imem_req
addSignal -h 15 -holdScope imem_cmd
addSignal -h 15 -UNSIGNED -HEX -holdScope imem_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope imem_rdata[31:0]
addSignal -h 15 -UNSIGNED -holdScope imem_resp[1:0]
addSignal -h 15 -holdScope dmem_req_ack
addSignal -h 15 -holdScope dmem_req
addSignal -h 15 -holdScope dmem_cmd
addSignal -h 15 -UNSIGNED -holdScope dmem_width[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_rdata[31:0]
addSignal -h 15 -UNSIGNED -holdScope dmem_resp[1:0]
addGroup "DTCM INTERFACE" -e FALSE
addSignal -h 15 /scr1_top_tb_ahb/i_top/i_tcm/scr1_dtcm/imem_req_ack
addSignal -h 15 -holdScope imem_req
addSignal -h 15 -holdScope imem_cmd
addSignal -h 15 -UNSIGNED -HEX -holdScope imem_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope imem_rdata[31:0]
addSignal -h 15 -UNSIGNED -holdScope imem_resp[1:0]
addSignal -h 15 -holdScope dmem_req_ack
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 -holdScope dmem_req
addSignal -h 15 -holdScope dmem_cmd
addSignal -h 15 -UNSIGNED -holdScope dmem_width[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_rdata[31:0]
addSignal -h 15 -UNSIGNED -holdScope dmem_resp[1:0]
addGroup "DTCM_MEM" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_tcm/scr1_dtcm/i_sp_memory/addra[15:2]
addSignal -h 15 /logical_expression_1
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_tcm/scr1_dtcm/i_sp_memory/dataa[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope qa[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope weba[3:0]
addSignal -h 15 -holdScope wena
addSignal -h 15 -holdScope rena
addSignal -h 15 /scr1_top_tb_ahb/i_top/i_tcm/scr1_dtcm/dmem_wr
addSignal -h 15 -holdScope dmem_req
addSignal -h 15 -holdScope dmem_cmd
addSignal -h 15 -holdScope imem_req
addSignal -h 15 -UNSIGNED -holdScope tcm_state[2:0]
addGroup "G7" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /scr1_top_tb_ahb/i_top/i_tcm/scr1_dtcm/i_sp_memory/qa[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dataa[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope addra[15:2]
addSignal -h 15 -UNSIGNED -HEX -holdScope weba[3:0]
addSignal -h 15 -holdScope wena
addSignal -h 15 -holdScope rena
addSignal -h 15 -holdScope clk
addSignal -h 15 -UNSIGNED /scr1_top_tb_ahb/i_top/i_dmem_router/sel_resp[1:0]
addSignal -h 15 -holdScope fsm
addGroup "G8"
addSignal -h 15 /scr1_top_tb_ahb/i_top/i_dmem_router/fsm
addSignal -h 15 -holdScope port1_req
addSignal -h 15 -UNSIGNED -holdScope port_sel[1:0]
addSignal -h 15 -holdScope dmem_req
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_addr[31:0]
addGroup "G9"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

